@model string;

<div class="std-chapter-section std-chapter-section--hidden" id="chapter-seven_section-two">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">7.2 When The Dream Is Shattered  </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 37:34-35  ',
        '34) Then Jacob tore his garments and put sackcloth on his loins and mourned for his son many days. ' +
        '35) All his sons and all his daughters rose up to comfort him, but he refused to be comforted and said, “No, I shall go down to Sheol to my son, mourning.” Thus his father wept for him.'
            )">
            Genesis 37:34-35
        </p>
        <p class="std-p">
            Joseph was the kid in which Jacob had all his dreams, hopes and the son in which he had deposited all of his love, emphasis
            and guidance. Well, God has allowed this very son to be removed from Jacob’s life.
            <br />
            <br />
            This, perhaps, talks to most of us.
            How many of you can relate that when you came to Christ there was many dreams that God had to remove from your life? Maybe
            there were careers that had to abandoned. jobs that we had to quit, aspirations we had to burn. relationships we had to break.
            We thought all hope was lost. We found ourselves asking God why, unable to find rest nor answers. God had allowed Jacob
            17 years with Joseph, and now, it’s time to remove the dream.
        </p>
    </div>
</div>
