@model string;

<div class="std-chapter-section std-chapter-section--hidden" id="chapter-seven_section-three">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">7.3 It Is Never Too Late!  </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 42:22 ',
        '22) And Reuben answered them, “Did I not tell you not to sin against the boy? But you did not listen. So now there comes a reckoning for his blood.”')">
            Genesis 42:22
        </p>

        <p class="std-p">
            Some years have passed now since Joseph has been sold by his brothers. There has been a famine in the meantime and Jacob send
            his sons to buy grain from Egypt. During this time not only have we seen changes in Jacob but now we can start perceiving
            changes in his own sons. They regret what they have done to their brother Joseph. Not realizing it was joseph that was selling
            them the grain. Perhaps because they had seen the radical change in his father‘s character.
            <br />
            <br />
            Father, mother if your kids are
            grown and you think it’s too late to educate them and set an example for them, it is never too late. God is timeless therefore
            with God it could never be too late. Let me get a little personal here my parents did not start living for Christ until I was
            in my teenage years. All the crucial years of instruction when I was a child were lost.
            <br />
            <br />
            Their heads are now gray and I am a 26
            year-old married man living 32 hours away from them, and do you know what? They still keep setting an example for me. They still
            keep guiding me. I still call them to have their input about decisions I’m about to take. With Christ is never too late to gain
            your children, as long as there is life there is hope.
        </p>
    </div>
</div>
