@model string;

<div class="std-chapter-section std-chapter-section--hidden" id="chapter-seven_section-four">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">7.4 Squishing The Last Drop of Hope  </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 43:14 ',
    '14) May God Almighty[a] grant you mercy before the man, and may he send back your other brother and Benjamin. And as for me, if I am bereaved of my children, I am bereaved.”')">
            Genesis 43:14
        </p>

        <p class="std-p">
            Joseph has now been for some time away in Egypt; I doubt the life of this old patriarch has ever been the same since. After
            the famine hits the land and his sons return back from Egypt from the first journey there, Jacob sends them a second time.
            However, they request that he allows Benjamin to go with them. 
            <br />
            <br />
            Benjamin is Jacob’s last ray of light, the only remembrance
            left from his sweet Rachel. But he chooses to let him go. Pain, and the punches of life have taught Jacob to let go and trust
            God. We can finally see the purpose and results of God’s Pain University. If you’re a child of God there is not such thing as
            countless tears. Did you your God is saving them all in a bottle?
            <span class="underlined-text"
                  onclick="displayBibleVerse('Psalm 56:8',
            'You have kept count of my tossings; put my tears in your bottle. Are they not in your book?')">Psalm 56:8.</span>
            Did you know that the tears you’ve sown in
            your pillow at night will bring you a joyful harvest in the morning?
            <span class="underlined-text"
                  onclick="displayBibleVerse('Psalm 126:5',
            '5) Those who sow in tears shall reap with shouts of joy!')">Psalm 126:5.</span>
        </p>
    </div>
</div>
