@model string;

<div class="std-chapter-section std-chapter-section--hidden" id="chapter-seven_section-five">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">7.5 Living Romans 8:28  </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 45:25  ',
        '25) So they went up out of Egypt and came to the land of Canaan to their father Jacob.')">
            Genesis 45:25
        </p>

        <p class="std-p">
            At least twenty-two years have passed now since Jacob and Joseph last saw each other, nevertheless, Jacob has received back
            what he thought he had lost. He waited 22 years, but he finally got his "why" answered from God, for Joseph tells him that
            it was for a purpose that God had taken him away from his family. Jacob finally realizes that had God not removed Joseph, he
            would be a dead man and so would be all his family.
            <br />
            <br />
            Can you see yourself in Jacob's shoes? How many dreams has God taken
            from you that you wept, complaint and got mad about, just to realize later—even if after a long time—that the thing you
            thought was going to bring you the most happiness was actually going to bring you a heartache and trouble; perhaps even your
            death? Are you not thankful that God took that job, that career, that person that you loved so much? Can you look back and
            say with Jospeh, the very same thing satan attempted to kill me with, God has used to keep me alive? If you can relate to
            any of these circumstances, my friend, than you have experienced
            <span class="underlined-text"
                  onclick="displayBibleVerse('Romans 8:28',
            '28) And we know that for those who love God all things work together for good, for those who are called according to his purpose.')">Romans 8:28;</span>
            A verse that every child of God must experience
            sooner or later.
        </p>
    </div>
</div>
