@model string;

<div class="std-chapter-section std-chapter-section--hidden" id="chapter-two_section-two">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">2.2 When God Lets Me Have My Will  </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 28:18-22',
        '18) So early in the morning Jacob took the stone that he had put under his head and set it up for a pillar and poured oil on the top of it. ' +
        '19) He called the name of that place Bethel,[a] but the name of the city was Luz at the first. ' +
        '20) Then Jacob made a vow, saying, “If God will be with me and will keep me in this way that I go, and will give me bread to eat and clothing to wear, ' +
        '21) so that I come again to my father\'s house in peace, then the Lord shall be my God, ' +
        '22) and this stone, which I have set up for a pillar, shall be God\'s house. And of all that you give me I will give a full tenth to you.”')">
            Genesis 28:18-22
        </p>
        <p class="std-text-quiet">1924 B. C.</p>
        <p class="std-p">
            C S. Lewis said "There are only two kinds of people in the end: those who say to God 'thy will be done' and those to whom
            God says in the end 'thy will be done.'" For the first time in Scripture we see God seeking a personal relationship with
            Jacob. Jacob on the other hand, wants a relationship but on His own terms when he says "if…then"
            <span class="underlined-text"
                  onclick="displayBibleVerse('Genesis 28:20',
            '20) Then Jacob made a vow, saying, “If God will be with me and' +
            'will keep me in this way that I go, and will give me bread to eat and clothing to wear')">Genesis 28:20.</span>
            Just as God
            presented to Jacob his three promises, Jacob responds to God with three petitions:
            <br />
            <br />

            <ul class="std-ul">
                <li>God's protection</li>
                <li>Material Possession</li>
                <li>Safe Return</li>
            </ul>
            <br />
            <br />
            </p>

        <p class="std-p">
            Did you notice that he not only altered the order of the promises, but he removed one? The list Jacob gives back to God does
            not include the promise about being a blessing to others. Why? Because that is who Jacob is. He could not care less about
            others. After all, he just cheated his own brother and father, what makes us think that he would care about somebody else?
            He is saying to God, God I like your plan, but how about we make a few amendments to it. How about we remove that part about
            being a blessing to others and insert a safe return instead? After all I have gotten my blessing, who cares if anybody else
            has theirs. God will never push anyone into doing His will.
            <br />
            <br />
            It is interesting hoe we see in Scripture the principle of the
            Holy Spirit always leading but never pushing nor drawing. When we insist in having our own terms, God will lets us have them,
            but we are about to witness in Jacob's own life at what a costly price.

        </p>
    </div>
</div>
