@model string;

<div class="std-chapter-section" id="chapter-two_section-one">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image"/>
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">2.1 God Extending Refuge</h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 28:10-15',
        '10) Jacob left Beersheba and went toward Haran. ' +
        '11) And he came to a certain place and stayed there that night, because the sun had set. Taking one of the stones of the place, he put it under his head and lay down in that place to sleep. ' +
        '12) And he dreamed, and behold, there was a ladder set up on the earth, and the top of it reached to heaven. And behold, the angels of God were ascending and descending on it! ' +
        '13) And behold, the Lord stood above it[b] and said, “I am the Lord, the God of Abraham your father and the God of Isaac. The land on which you lie I will give to you and to your offspring. ' +
        '14) Your offspring shall be like the dust of the earth, and you shall spread abroad to the west and to the east and to the north and to the south, and in you and your offspring shall all the families of the earth be blessed. ' +
        '15) Behold, I am with you and will keep you wherever you go, and will bring you back to this land. For I will not leave you until I have done what I have promised you.”'
        )">
            Genesis 28:10-15
        </p>
        <p class="std-text-quiet">1924 B. C.</p>
        <p class="std-p">
            Jacob, according to Andrew E. Steinmann and Ellicott is now around 76 years old and for the first time away from home. God
            seeing Jacob's affliction comes to Him willing to give Him shelter and protection even from his own mistakes. How merciful
            is our God that in despite of our many mistakes and reckless decisions, when we have willingly ignored His plan to execute
            ours, He still seeks to give us rest from the result of our very own mistakes. God gives three promises to Jacob:
            <br />
            <br />

            <ul class="std-ul">
                <li>He will give him the land he is standing on</li>

                <li>He will make him a  blessing to all people</li>

                <li>He will provide protection</li>
            </ul>
        </p>
    </div>
</div>
