@model string;

<div class="std-chapter-section std-chapter-section--hidden" id="chapter-two_section-three">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Jacob and Rachel at the well" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">2.3 My Way Or The Highway</h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 29:1-10',
        '1) Then Jacob went on his journey and came to the land of the people of the east. ' +
        '2) As he looked, he saw a well in the field, and behold, three flocks of sheep lying beside it, for out of that well the flocks were watered. The stone on the well\'s mouth was large, ' +
        '3) and when all the flocks were gathered there, the shepherds would roll the stone from the mouth of the well and water the sheep, and put the stone back in its place over the mouth of the well.' +
        '4) Jacob said to them, “My brothers, where do you come from ?” They said, “We are from Haran.” ' +
        '5) He said to them, “Do you know Laban the son of Nahor ?” They said, “We know him.” ' +
        '6) He said to them, “Is it well with him ?” They said, “It is well; and see, Rachel his daughter is coming with the sheep!” ' +
        '7) He said, “Behold, it is still high day; it is not time for the livestock to be gathered together.Water the sheep and go, pasture them.” ' +
        '8) But they said, “We cannot until all the flocks are gathered together and the stone is rolled from the mouth of the well; then we water the sheep.” ' +
        '9) While he was still speaking with them, Rachel came with her father\'s sheep, for she was a shepherdess. ' +
        '10) Now as soon as Jacob saw Rachel the daughter of Laban his mother\'s brother, and the sheep of Laban his mother\'s brother, Jacob came near and rolled the stone from the well\'s mouth and watered the flock of Laban his mother\'s brother.'
        )">
            Genesis 29:1-10
        </p>
        <p class="std-text-quiet">1924 B. C.</p>
        <p class="std-p">
            Jacob has now arrived to uncle Laban's town. He comes to a well where the sheep are watered and there he meets the love of
            his life, Rachel, the daughter of his uncle Laban. Such wells during those days tended to have a huge stone that served as a
            cap to the well. It is said the stone was so big that it could take even two men to roll it.
            <br />
            <br />
            The reason for which a schedule
            was set in place to water the sheep in those days was due to the dryness of the land and the scarcity of water. High
            temperatures would cause water to evaporate quickly. It is also stated by many commentators, that not every person had this
            right to remove the stone, but rather a designated person would be put in charge of this task to have a more rigid control
            of the system.
            <br />
            <br />
            Jacob, could not care less. He has always done things his way, why would he change now? Therefore, once again
            taking matter into his own hands removes the great stone, all by himself, probably with the purpose of impressing miss Rachel.
        </p>
    </div>
</div>
