@model string;


<div class="std-chapter-section std-chapter-section--hidden" id="chapter-six_section-three">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">6.3 Hitting Rock Bottom  </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 35:2  ',
    '2) So Jacob said to his household and to all who were with him, “Put away the foreign gods that are among you and purify yourselves and change your garments.')">
            Genesis 35:2
        </p>
        <p class="std-text-quiet">1902 B.C. </p>
        <p class="std-p">
            In this passage we see Jacob hitting rock bottom. He has resolved that he’s going back to Bethel and he’s assuring him and
            his family get rid of anything that may hinder their progress: gods, that is anything that has taken God’s place and even
            their clothes which symbolize habits.
            <br />
            <br />
            We could say this is the verse where Jacob gets to graduate from God’s pain university.
            He has learned his lesson and is leaving everything behind that used to hold him back. Now God can use him. Have you come to
            this place yet my friend? Or are you still dragging to Bethel those old stinky clothes that you used to wear in the far country?
            Are you dragging with you any gods? Bethel represents a stable relationship with God, therefore until you’re not willing to
            urrender it all to God, you will never reach Bethel.
            <br />
            <br />
            Notice that Jacob never made it to Bethel until he was willing to get
            rid of everything that held him back. it is only once we are willing to fully surrender to God and be disposed of ourselves that
            we can come to Bethel.
        </p>
    </div>
</div>
