<div class="std-chapter-section std-chapter-section--hidden" id="chapter-six_section-two">
    <div class="img-wrapper chapter-section-img">
        <img src="https://www.icloud.com/iclouddrive/0adkt4E9qslDaI-wf8GF3jD5w#1.2" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">6.2 Going Up To Bethel  </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 35:1 ',
        'God said to Jacob, “Arise, go up to Bethel and dwell there. Make an altar there to the God who appeared to you when you fled from your brother Esau.”')">
            Genesis 35:1
        </p>
        <p class="std-text-quiet">1902 B.C.</p>
        <p class="std-p">
            One more time God calls Jacob to Bethel. He reminds him that it was never His will that he stayed in the middle: Sukkoth. And although Bethel is south 
            Sukkoth, God calls him to go up , because that's the only direction God calls His people. He wants to take us from glory to glory. 
            He only takes us on an upward slope, can you witness to that? It is not God’s will for you to stay where you are in your 
            relationship with Him regardless of what it looks like. 
            <br />
            <br />
            If it’s in the low places He calls you to get out of there and climb 
            up, and if you feel like you’re already in a high place He calls you to go even higher, because bethel is always up.
        </p>
    </div>
</div>
