<div class="std-chapter-section" id="chapter-six_section-one">
    <div class="img-wrapper chapter-section-img">
        <img src="https://www.icloud.com/iclouddrive/0cd0K_rDqHeETCAgS_hDqBF3Q#1.1" alt="Beggining life of Jacob" class="chapter-section-image"/>
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">6.1 The High Price of living in the middle  </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 34:2, 34:25-27 ',
        '2) And when Shechem the son of Hamor the Hivite, the prince of the land, saw her, he seized her and lay with her and humiliated her' + 
        '25 On the third day, when they were sore, two of the sons of Jacob, Simeon and Levi, Dinah\'s brothers, took their swords and came against the city while it felt secure and killed all the males. ' +
        '26) They killed Hamor and his son Shechem with the sword and took Dinah out of Shechem\'s house and went away. ' +
        '27) The sons of Jacob came upon the slain and plundered the city, because they had defiled their sister.')">
            Genesis 34:2, 34:25-27
        </p>
        <p class="std-text-quiet">1902 B.C. </p>
        <p class="std-p">
            Not too long after Jacob resolved to stay in the middle, his precious daughter Dinah becomes a victim of rape and in vengeance,
            her two brothers, Simeon and Levi slaughter the entire city of Sachem. These were the very two kids that were placed in front of
            Joseph and Rachel when he was getting ready to meet Esau. The same kids of the woman who Jacob, in my opinion, never really
            loved.
            <br />
            <br />
            Clearly, the poor parenthood of Jacob towards them affected the character of these two boys. Notice how they make sure to
            remark to Jacob “should OUR sister…” and not “should YOUR daughter...” in
            <span class="underlined-text"
                  onclick="displayBibleVerse('Genesis 34:31',
            '31 But they said, “Should he treat our sister like a prostitute?”')">Genesis 34:31.</span>
            They are implying that perhaps Jacob
            did not care much for the kids of them, therefore they had to defend their sister since her father would not.
        </p>
    </div>
</div>
