<div class="std-chapter-section std-chapter-section--hidden" id="chapter-six_section-five">
    <div class="img-wrapper chapter-section-img">
        <img src="https://www.icloud.com/iclouddrive/0adkt4E9qslDaI-wf8GF3jD5w#1.2" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">6.5 The Shape Of My Mistakes </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 37:3-4 ',
        '3) Now Israel loved Joseph more than any other of his sons, because he was the son of his old age. And he made him a robe of many colors. ' +
        '4) But when his brothers saw that their father loved him more than all his brothers, they hated him and could not speak peacefully to him.')">
            Genesis 37:3-4
        </p>
        <p class="std-text-quiet">1902 B.C.</p>
        <p class="std-p">
            Remember how in 
            <span class="underlined-text"
             onclick="displayBibleVerse('Genesis 33:2',
            '2) And he put the servants with their children in front, then Leah with her children, and Rachel and Joseph last of all.')">Genesis 33:2</span>
            we talked about how the children of the slaves and Leah would turn out to have the worst behavior?
            Well in the opposite hand, it appears that Rachel’s kids, the ones who perhaps received the best care from Joseph, turn out to
            have the best behavior. We can perceive in this verse that the favoritism, guidance and love of Jacob towards Joseph, probably
            played a great role in the development of this child. Nevertheless, this very attitude from Jacob only fueled even worse
            behavior on the rest of his children.
        </p>
    </div>
</div>
