@model string;


<div class="std-chapter-section std-chapter-section--hidden" id="chapter-six_section-four">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">6.4 Sweet Bethel </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 35:15 ',
    '15 So Jacob called the name of the place where God had spoken with him Bethel.')">
            Genesis 35:15
        </p>
        <p class="std-text-quiet">1902 B.C. </p>
        <p class="std-p">
            This is at least the third time that Jacob erects an altar and calls it Bethel. Oh dear Jacob, the high prize that you had
            to pay in order to come to this place. Here you are, cheated on, mistreated, hurt, suffering the pain of the atrocious rape
            of your sweet daughter Dinah, and father to two boys with bloody hands. All because you thought your ways to be better than
            God’s ways.
            <br />
            <br />
            I wonder how many heartaches and spiritual scars we will carry for the rest of your lives just because of our
            coldness toward God and our own negligence. Oh, I know there is no sin great enough God can’t forgive, and no wound critical
            enough that cannot heal, but even nature itself witnesses to this: that even when the pain ceases, the blood stops and the
            wound closes, a scar remains.
        </p>
    </div>
</div>
