@model string;

<div class="std-chapter-section std-chapter-section--hidden" id="chapter-nine_section-three">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Jacob and Rachel at the well" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">9.3 Ending the Race </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 49:33 ',
        '33 When Jacob finished commanding his sons, he drew up his feet into the bed and breathed his last and was gathered to his people.'
        )">
            Genesis 49:33
        </p>

        <p class="std-p">
            It is time for Jacob and his children to part ways for now. He has summoned his children to come around him as he is about
            to pass down his blessings to them. He has lived and learned. He was born Jacob but he will finish his race Israel; a new
            man
            <span class="underlined-text"
                  onclick="displayBibleVerse('2 Corinthians 5:17',
            '17) Therefore, if anyone is in Christ, he is a new creation.[a] The old has passed away; behold, the new has come.')">2 Corinthians 5:17.</span>
             What a glorious day it must be when you get to say along with Paul, I have fought the fight,
            "I have fought the good fight, I have finished the race, I have kept the faith"
            <span class="underlined-text"
                  onclick="displayBibleVerse('2 Timothy 4:7',
            '7) I have fought the good fight, I have finished the race, I have kept the faith.')">2 Timothy 4:7.</span>
            <br />
            <br />
            Jacob was man that walked many different paths in his life, but nevertheless a man who did never gave up. A man who didn’t
            draw his feet into the bed until he died.
            <br />
            <br />
            Dear elderly saint of God, do not put your feet up yet. Do you not know that God is still using them to get His word out?
            <span class="underlined-text"
                  onclick="displayBibleVerse('Romans 10:15',
            '15) And how are they to preach unless they are sent? As it is written, “How beautiful are the feet of those who preach the good news!”')">Romans 10:15.</span>
            It is through your testimony that young people like me are encouraged when we fall in places of despair and
            failure. The fact that you are standing in spite of all that you have been through is a testimony to us that if God has
            brought you out, He will bring me out.
            <br />
            <br />
            Do not put your feet up yet!
        </p>
    </div>
</div>
