@model string;

<div class="std-chapter-section" id="chapter-nine_section-one">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">9.1 Jacob He Lived, But Israel He Died </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 47:28-29 ',
        '28 And Jacob lived in the land of Egypt seventeen years. So the days of Jacob, the years of his life, were 147 years.' +
        '29 And when the time drew near that Israel must die, he called his son Joseph and said to him, “If now I have found favor in your sight, put your hand under my thigh and promise to deal kindly and truly with me. Do not bury me in Egypt,'
        )">
            Genesis 47:28-29
        </p>

        <p class="std-p">
            It is stated that "Jacob lived in Egypt..." And "when it was time for Israel to die..." This old patriarch lived the majority
            of his life as Jacob. Cheating, making mistakes, failing to obey God, doing things his way, but Glory be to God, that He who started the
            work in us is able to bring it to completion 
            <span class="underlined-text"
                  onclick="displayBibleVerse('Philippians 1:6',
            '6) And I am sure of this, that he who began a good work in you will bring it to completion at the day of Jesus Christ.')">Philippians 1:6.</span>
            <br />
            <br />
            This verse perhaps speaks the loudest to our dear elderly saints, who can
            look back in their lives and see the many times they let God, themselves, and those they love down, but they can also look at the
            present and glorify God for His goodness and working all things for their good at the end and keeping them through their long journey
            in life. For, surely the end of a live is more important than its beginning
            <span class="underlined-text"
                  onclick="displayBibleVerse('Ecclesiastes 7:8',
            '8) Better is the end of a thing than its beginning, and the patient in spirit is better than the proud in spirit.')">Ecclesiastes 7:8.</span>
        </p>
    </div>
</div>
