@model MyBg.Models.FavoriteModel

@{
    ViewData["Title"] = "New";
}

<div class="main-wrapper main-wrapper_edit-favorite">

    <a asp-action="index" asp-controller="Profile" class="std-button">👈 PROFILE</a>

    <section class="main-title-wrapper">
        <span class="post-type type_favorite"></span>
        <h1 class="std-header-h1 header-h1_favorite">NEW FAVORITE</h1>
    </section>

    <form asp-action="NewFavorite" asp-controller="Favorites" class="std-form form-favorite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="my-form-group">
            <input asp-for="Title" class="form-input" placeholder="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="my-form-group">
            <input asp-for="Description" class="form-input" placeholder="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="my-form-group">
            <textarea asp-for="Tumbnails" class="form-input" placeholder="Thumbnails"></textarea>
            <span asp-validation-for="Tumbnails" class="text-danger"></span>
        </div>

        <div class="my-form-group">
            <input asp-for="Categories" class="form-input" placeholder="Categories" />
            <span asp-validation-for="Categories" class="text-danger"></span>
        </div>

        <div class="my-form-group">
            <input asp-for="Link" class="form-input" placeholder="Link"/>
            <span asp-validation-for="Link" class="text-danger"></span>
        </div>

        <div class="my-form-group">
            <textarea asp-for="HTML" class="form-textarea" placeholder="Body"></textarea>
            <span asp-validation-for="HTML" class="text-danger"></span>
        </div>

        <div class="buttons-wrapper">
            <button type="submit" class="std-button">SAVE</button>
        </div>

    </form>

</div>
