@model MyBg.Models.FavoriteModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="main-wrapper main-wrapper_favorites">
    <a asp-action="Index" asp-controller="Favorites">Back to All</a>

    <section>
        <span class="post-type post-type_favorite"></span>
        <h1>👈 FAVORITES</h1>
        <p class="std-quiet-p">@Model.DatePosted</p>
    </section>

    <div class="tag-footer">
        <div class="category-wrapper">
            @if (!String.IsNullOrEmpty(Model.Categories))
            {
                string[] tags = Model.Categories.Split(" ");
                foreach (string tag in tags)
                {
                    <span class="category-tag">@tag</span>
                }
            }
        </div>
    </div>

    @await Html.PartialAsync("_Carrousel", Model);

    <a href="@Model.Link">Check It out</a>

    <p class="std-p">
        @Html.Raw(Model.HTML);
    </p>

</div>

