<div class="std-chapter-section std-chapter-section--hidden" id="chapter-three_section-two">
    <div class="img-wrapper chapter-section-img">
        <img src="https://www.icloud.com/iclouddrive/0adkt4E9qslDaI-wf8GF3jD5w#1.2" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">3.3 Overworked, Cheated, and Trapped</h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 31:4-7 ',
        '4 So Jacob sent and called Rachel and Leah into the field where his flock was 5 and said to them, “I see that your father does not regard me with favor as he did before. But the God of my father has been with me. ' +
        '6 You know that I have served your father with all my strength, ' +
        '7 yet your father has cheated me and changed my wages ten times. But God did not permit him to harm me.')">
            Genesis 31:4-7
        </p>
        <p class="std-text-quiet">1910 B.C.</p>
        <p class="std-p">
            Overworked, cheated, and trapped; that is how Jacob finds himself. God has used Rachel's father to put Jacob through college.
            Jacob is about to be Israel—God's man, and that is how God shapes his men and women: it is through pain, errors, and suffering
            that God shows us the perfection of His ways and the imperfection of ours. Alan Redpath says that "When God wants an impossible
            kind of Job done He usually gets and impossible kind of person, smashes them, and then uses them.
            <br />
            <br />
            God has to crush you into
            pieces before He can make you whole. God's heroes are not Marvel's definition of heroes. You can stay looking a cute boy or
            girl, very well put together and never amount to a penny with God. But if you want to be used remember that God's people are marked
            by spiritual scars and bruises. He wants rugged men and women that know how to spiritually fight and not a bunch of Sissy's that
            will run away at the first sign of danger.
        </p>
    </div>
</div>
