<div class="std-chapter-section" id="chapter-three_section-one">
    <div class="img-wrapper chapter-section-img">
        <img src="https://www.icloud.com/iclouddrive/0cd0K_rDqHeETCAgS_hDqBF3Q#1.1" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">3.2 Trapped By My Choices</h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 30:25-28',
    '25) As soon as Rachel had borne Joseph, Jacob said to Laban, “Send me away, that I may go to my own home and country. ' +
    '26) Give me my wives and my children for whom I have served you, that I may go, for you know the service that I have given you.” ' +
    '27) But Laban said to him, “If I have found favor in your sight, I have learned by divination that[a] the Lord has blessed me because of you. ' +
    '28) Name your wages, and I will give it.”')">
            Genesis 30:25-28
        </p>
        <p class="std-text-quiet">1910 B.C.</p>
        <p class="std-p">

            After Jacob unintentionally marries Leah, he agrees to work another seven years for Rachel. Therefore we know that he has been in
            Harran for at least 14 years by now. Jacob, has been treated quite ugly by uncle Laban. He has cheated him, overworked him,
            lied to him, and what not; he really has been putting this man to School. Jacob, seeing his current situation, attempts to
            leave uncle Laban's. The far country is not so fun no more. Jacob really thought he was going to have the time of his life
            finally away from home and continue to make his own rules, but turns out things are a little different in the far country than
            what he thought. He thought he was going to get by with his actions but reality has just slapped him in the face.
            <br />
            <br />
            He has realized he could cheat big brother but he couldn’t cheat God. He could run form Esau but he couldn't run from God
            <span class="underlined-text"
                  onclick="displayBibleVerse('Psalm 139:7', 'Where shall I go from your Spirit? Or where shall I flee from your presence?')">
                Psalm 139:7.
            </span>
            If you are a child of God don't you think for a moment you can get by with sin, God disciplines those He loves
            <span class="underlined-text"
                  onclick="displayBibleVerse('Hebrews 12:6', 'For the Lord disciplines the one he loves, and chastises every son whom he receives.”')">
                Hebrews 12:6.
            </span>
            You won't
            get by with your sin, sooner than later your Father has get the rode
            <span class="underlined-text"
                  onclick="displayBibleVerse('Proverbs 13:24', 'Whoever spares the rod hates his son, but he who loves him is diligent to discipline him.')">
                Proverbs 13:24.
            </span>
            Now, you might say, "I have been freely and willingly
            sinning for a long time and I don't think what you are saying is true. I am still living my life in peace and without problems.
            Everything looks bright over here." To you I can say, of course God has not disciplined you, He does not spank the devil's children.
            If you can sin without receiving any discipline from God, you are not his kid my friend. Simple as that!
            <br />
            <br />
            But see, just as Jacob is trying to leave and go back to Bethel—back to a relationship with God, we see uncle Laban making false
            promises again, offering him what we know he is not willing to give. "Name your wages," says Laban, "and I will pay it." This is the
            offer the devil makes to all those who have fallen on his trap. Once the individual realizes that he has been eating with the swine
            when he could be eating at Dad's home the, devil always comes with a counter offer. Every time you are get ready to leave your sin
            and cleans yourself, prepare to be tempted by that same sin even twice fold, satan is quick to offer a blank check in order to keep
            you in the pig swine. However, just as Laban's promises, they are false and will only leave you emptier every time.
        </p>
    </div>
</div>
