@model string

<div class="std-chapter-section std-chapter-section--hidden" id="chapter-one_section-three">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">1.3 Not A Perfect Family </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 27:5-13',
        '5) Now Rebekah was listening when Isaac spoke to his son Esau. So when Esau went to the field to hunt for game and bring it,' +
        '6) Rebekah said to her son Jacob, “I heard your father speak to your brother Esau,' +
        '7) ‘Bring me game and prepare for me delicious food, that I may eat it and bless you before the Lord before I die.’' +
        '8) Now therefore, my son, obey my voice as I command you.' +
        '9) Go to the flock and bring me two good young goats, so that I may prepare from them delicious food for your father, such as he loves. ' +
        '10) And you shall bring it to your father to eat, so that he may bless you before he dies. ” ' +
        '11) But Jacob said to Rebekah his mother, “Behold, my brother Esau is a hairy man, and I am a smooth man. ' +
        '12) Perhaps my father will feel me, and I shall seem to be mocking him and bring a curse upon myself and not a blessing.” ' +
        '13) His mother said to him, “Let your curse be on me, my son; only obey my voice, and go, bring them to me.”')">
            Genesis 27:5-13
        </p>
        <p class="std-p">
            Not only did Jacob and Rebekah differed in their viewpoint about the children, but it might appear as if communication among
            them might not have been the greatest. It was very probable that Rebekah had told Isaac about God's desire for the children,
            that the oldest would serve the youngest
            <span class="underlined-text"
                  onclick="displayBibleVerse('Genesis 25:23',
            'And the Lord said to her, “Two nations are in your womb, and two peoples from within you shall be divided;' +
            'the one shall be stronger than the other, the older shall serve the younger.”' +
            'his birthright.')">Genesis 25:23.</span>
            Yet Jacob chooses to go against God and His wife, and in return his
            wife goes against him and over his word by deceiving Isaac. It is no wonder where this boy Jacob got his training for cheating.
        </p>
    </div>
</div>
