<div class="std-chapter-section" id="chapter-one_section-one">
    <div class="img-wrapper chapter-section-img">
        <img src="https://www.icloud.com/iclouddrive/0cd0K_rDqHeETCAgS_hDqBF3Q#1.1" alt="Beggining life of Jacob" class="chapter-section-image"/>
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">1.1 Living In The Shadows </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 25:25-26',' The first came out red, all his body like a hairy cloak, so they called his name Esau. 26 Afterward his brother came out with his hand holding Esau\'s heel, so his name was called Jacob. Isaac was sixty years old when she bore them.')">
            Genesis 25:25-26
        </p>
        <p class="std-text-quiet">2000 B. C.</p>
        <p class="std-p">
            The bringing up of Jacob must have been a hard one. He grew up under
            the shadows of his brother Esau 
            <span class="underlined-text"
            onclick="displayBibleVerse('Genesis 25:27', 'When the boys grew up, Esau was a skillful hunter, a man of the field, while Jacob was a quiet man, dwelling in tents.')">
            Genesis 25:27.
            </span> 
            It seems as if Esau,
            the carnal man, was your typical I-can-do-it-all, handsome-looking,
            talented, athletic, rugged kid. While, Jacob, Jacob on the other hand,
            perhaps had not much going for him. Nevertheless, even if Jacob's
            intentions were not right at the time, we can perceive in him a desire
            for the spiritual matters due to how early in the years of his life—some
            scholars say he was around 17 years of age—he demands the blessing
            from Esau. 
            <br />
            <br />
            With Esau being his father's favorite, and Isaac being the
            only one who could pass forth the blessing to the next generation, we
            can imagine the agony Jacob grew up with wishing he could what the first
            born had. Not only was his brother Esau better at everything He did,
            but he also had the right to the blessing.
        </p>
    </div>
</div>
