@model string

<div class="std-chapter-section std-chapter-section--hidden" id="chapter-one_section-two">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">1.2 Against The Culture</h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 27:2-4','He said, “Behold, I am old; I do not know the day of my death. 3 Now then, take your weapons, your quiver and your bow, and go out to the field and hunt game for me, 4 and prepare for me delicious food, such as I love, and bring it to me so that I may eat, that my soul may bless you before I die.”')">
            Genesis 27:2-4
        </p>
        <p class="std-p">
            Many years have passed since Esau sold his birthright to Jacob—around 59 if we keep the dating system chosen.
            In accordance to the culture of the land, Jacob should not had been blessed. The blessing was part of the
            privileges of being the first born.
            <br />
            <br />
            It was his brother who had the right to the blessing. However, Esau had
            sold his blessing and God did not overlooked his attitude. Although there was no real legality in the
            transaction that happened between them
            <span class="underlined-text"
                  onclick="displayBibleVerse('Genesis 25:34',
            'Then Jacob gave Esau bread and lentil stew, and he ate and drank and rose and went his way.Thus Esau despised' +
            'his birthright.')">Genesis 25:34.</span> If you have a promise from God, wait on Him He will
            bring it to pass even if the circumstances say otherwise. Do not rush. Do not take matters into your own hands.
        </p>
    </div>
</div>
