<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Daniel Rangel</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
    </header>

    <main role="main" class="page-wrapper">
        @RenderBody()
    </main>

    @* ------------------------------  Menu --------------------------  *@
    <section class="nav-wrapper">
        <nav class="menu">
            <span class="menu-button home"></span>
            <span class="menu-button favorites"></span>
            <span class="menu-button blog"></span>
            <span class="menu-button tools"></span>
        </nav>
    </section>

    @* ------------------------------ Footer --------------------------  *@
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MyBg - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
