@model MyBg.Models.BlogModel

@{
    ViewData["Title"] = "New";
}

<h1>New</h1>

<h4>BlogModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewBlog" asp-controller="Blogs">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tumbnails" class="control-label"></label>
                <input asp-for="Tumbnails" class="form-control" />
                <span asp-validation-for="Tumbnails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>
                <input asp-for="Categories" class="form-control" />
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePosted" class="control-label"></label>
                <input asp-for="DatePosted" class="form-control" />
                <span asp-validation-for="DatePosted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HTML" class="control-label"></label>
                <input asp-for="HTML" class="form-control" />
                <span asp-validation-for="HTML" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

