@model MyBg.Models.BlogModel

@{
    ViewData["Title"] = "Post";
}

<div class="main-wrapper main-wrapper_blogs">
    <a asp-action="Index" asp-controller="Blogs" class="std-button">👈 BACK TO ALL</a>

    <section class="main-title-wrapper">
        <span class="post-type type_blog"></span>
        <h1 class="std-header-h1 header-h1_favorite">@Model.Title</h1>
        <p class="std-quiet-p">@Model.DatePosted</p>
    </section>

    <div class="tag-footer">
        <div class="category-wrapper">
            @if (!String.IsNullOrEmpty(Model.Categories))
            {
                string[] tags = Model.Categories.Split(" ");
                foreach (string tag in tags)
                {
                    <span class="category-tag">@tag</span>
                }
            }
        </div>
    </div>

    <main class="std-p">
        @Html.Raw(Model.HTML);
    </main>

</div>


