@model string;

<div class="std-chapter-section std-chapter-section--hidden" id="chapter-five_section-three">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">5.3 Sick Of Being Jacob</h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 32:26-27',
    '26) Then he said, “Let me go, for the day has broken.” But Jacob said, “I will not let you go unless you bless me.” ' +
    '27) And he said to him, “What is your name?” And he said, “Jacob.”')">
            Genesis 32:26-27
        </p>
        <p class="std-text-quiet">1910 B.C. </p>
        <p class="std-p">
            The incarnate Christ—as most reputable theologians agree—comes and fights with Jacob now that he is aloe. Jacob, seeing that he cannot
            over power Him, begs Him for a blessing. The Angel of the Lord, however, does not ask Jacob what is the blessing that he wishes to have.
            He knows exactly what his problem is. His problem is being Jacob.
            <br />
            <br />

            God couldn’t work with Israel until he was done being Jacob. God can
            never use us until we’re sick of being ourselves and are willing to accept the name He wants to give us. I fear too many of us are so
            conceited with who we are that never reach the point where God wants us to be. We like our name too much. Have you changed your name yet?
            <br />
            <br />

            If you were to show your spiritual lD card, what last name would it be on it? Yours, or the precious name of Jesus Christ? See, when we
            come to God our name does not atter anymore. It is all about His Name. Ours is of no value.
        </p>
    </div>
</div>
