<div class="std-chapter-section" id="chapter-five_section-one">
    <div class="img-wrapper chapter-section-img">
        <img src="https://www.icloud.com/iclouddrive/0cd0K_rDqHeETCAgS_hDqBF3Q#1.1" alt="Beggining life of Jacob" class="chapter-section-image"/>
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">5.1 Ready To Surrender</h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 32:9-12',
        '9 And Jacob said, “O God of my father Abraham and God of my father Isaac, O Lord who said to me, ‘Return to your country and to your kindred, that I may do you good,’ ' +
        '10) I am not worthy of the least of all the deeds of steadfast love and all the faithfulness that you have shown to your servant, for with only my staff I crossed this Jordan, and now I have become two camps. ' +
        '11) Please deliver me from the hand of my brother, from the hand of Esau, for I fear him, that he may come and attack me, the mothers with the children. ' +
        '12) But you said, ‘I will surely do you good, and make your offspring as the sand of the sea, which cannot be numbered for multitude.’”')">
            Genesis 32:9-12
        </p>
        <p class="std-text-quiet">1910 B.C. </p>
        <p class="std-p">
            Both men have made a treaty of protection for both, they set up a line that neither one of them can cross as covenant that they
            would not attempt to harm each other
            <span class="underlined-text"
                  onclick="displayBibleVerse('Genesis 31:44',
            'Come now, let us make a covenant, you and I. And let it be a witness between you and me.”')">Genesis 31:44.</span>
            <br />
            <br />
            Jacob for the first time in Scripture shows a genuine attitude of humility.
            He has finally hit rock bottom and is ready to surrender to God. And, by the way did you noticed that at the end of verse 10 of
            his prayer, he states to have become two camps—probably referring to Leah and Rachel? Well That is exactly what sin will do to
            any life. It will split families, relationships and will divide you internally. It will confuse you. 
            <br />
            <br />
            Of course you have become
            two camps, Jacob, you chose it to be that way when you took matters into your hands. It was you who choose to become two camps
            by marrying Rachel after you married Leah.
        </p>
    </div>
</div>
