@model string;

<div class="std-chapter-section std-chapter-section--hidden" id="chapter-five_section-four">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">5.4 As Father As Son  </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 33:2-3 ',
    '2) And he put the servants with their children in front, then Leah with her children, and Rachel and Joseph last of all. ' +
    '3) He himself went on before them, bowing himself to the ground seven times, until he came near to his brother.')">
            Genesis 33:2-3
        </p>
        <p class="std-text-quiet">1910 B.C. </p>
        <p class="std-p">
            We have to understand that for the first time, and although he is almost 100  years old, Jacob has just started giving baby
            spiritual steps. He did not have a very good fatherly figure at home. Therefore, without much experience on how being a good
            father, he starts doing the very same thing his father Isaac did; he starts showing favoritism by ordering his children in
            the way they will March to meet Esau. He orders them in the same sequence they occupy a place in his heart.
            <br />
            <br />
            From the least
            to them most loved; the slaves’ children at front with Rachel and Joseph last. Think about this, if your dad set you right
            in front of danger’s face as a shield to protect your other siblings, what would that tell you? How would you feel about it?
            We will see how deeply all this favoritism will affect the kids of the slaves in the next chapters.
        </p>
    </div>
</div>
