@model string;

<div class="std-chapter-section std-chapter-section--hidden" id="chapter-five_section-two">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">5.2 willing to stand alone</h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 32:22-24',
        '22 The same night he arose and took his two wives, his two female servants, and his eleven children, and crossed the ford of the Jabbok. ' +
        '23 He took them and sent them across the stream, and everything else that he had. ' +
        '24) And Jacob was left alone. And a man wrestled with him until the breaking of the day.')">
            Genesis 32:22-24
        </p>
        <p class="std-text-quiet">1910 B.C.</p>
        <p class="std-p">
            Jacob shows how serious he is about his coming to God by his willingness to stand alone. He does not let anyone to get between 
            him and God, not even his family. This is a place where everyone who wants to follow God wholeheartedly has to come to. 
            Not a place of literal abandonment from all that and those he or she loves, but a place where he or she is willing to if that 
            is what it takes. Our Lord said something about leaving father and mother for Him 
            <span class="underlined-text"
                  onclick="displayBibleVerse('Luke 14:26',
            '“If anyone comes to me and does not hate his own father and mother and wife and children and brothers and sisters, yes, and even his own life, he cannot be my disciple.')">Luke 14:26.</span>
            <br />
            <br />

            There has to come the time where 
            you have to let go of all of your possessions and strip yourself of who you are and be willing to stand before God alone, 
            just you and Him.
        </p>
    </div>
</div>
