<div class="std-chapter-section" id="chapter-four_section-one">
    <div class="img-wrapper chapter-section-img">
        <img src="https://www.icloud.com/iclouddrive/0cd0K_rDqHeETCAgS_hDqBF3Q#1.1" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">4.1 It Wasn't God's Will</h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 31:11-13',
        '11) Then the angel of God said to me in the dream, ‘Jacob,’ and I said, ‘Here I am!’ ' +
        '12) And he said, ‘Lift up your eyes and see, all the goats that mate with the flock are striped, spotted, and mottled, for I have seen all that Laban is doing to you. ' +
        '13) I am the God of Bethel, where you anointed a pillar and made a vow to me. Now arise, go out from this land and return to the land of your kindred.’”')">
            Genesis 31:11-13
        </p>
        <p class="std-text-quiet">1910 B.C.</p>
        <p class="std-p">

            We now find Jacob on the running once again, only this time away from uncle Laban. Just as God had seen Jacob when he was running
            from his unwise decisions the first time, He sees him running the second time. He speaks to him in a dream and tells him something
            quite intriguing: "I am the God of Bethel where YOU promised me..."
            <br />
            <br />
            It is my personal opinion that God is reminding Jacob that it was
            not His will that he went through all of this. God does not tell Jacob, "Bethel is the place where I promised you," but rather
            "the place where you promised me." God is reminding Jacob that He is the God of Bethel but that it was not on His terms that Jacob had
            left Bethel the first time, but rather on Jacob's terms.
            <br />
            <br />
            It was Jacob who set the terms on the contract and God just allowed him to
            have what he wanted. Sometimes God simply lets you have what you want so that you realize you don't actually want what you have.
        </p>
    </div>
</div>
