@model string[];

<div class="sub-layout sub-layout-thinner" id="layer-conclusion">
    <div class="post-layer-main-wrapper">
        <div class='post-intro-wrapper'>
            <div class='img-wrapper'>
                <img class='std-img'
                     alt='sermon thumbnail'
                     src='@Model[0]' />
            </div>
            <div class='article-intro'>
                <h3 class='sub-title std-h3'>Conclusion</h3>
                <p class='main-p std-p'>
                    There are many points we can draw from the life of Jacob, but here are three that I hope be engrained
                    in our hearts:
                    <br />
                    <br />
                    1. You will reap what you sow. There is no such thing as playing with sin for free. Sooner or later
                    satan will send you an invoice for the diversion used.
                    <br />
                    <br />

                    2. Learn to wait on God, do not take matters into your hands. If God has promised it He will fulfill it.
                    God's plans do not unfold from morning to night. The process is just as important as the goal.
                    <br />
                    <br />

                    3. The last but most important, is this: that if God can use such an imperfect man to make a nation out of him,
                    He sure can use such an imperfect nobody like you and me.


                </p>
            </div>
        </div>
    </div>
</div>