
<div>
    <h1 class="std-h1 layer-slide-h1">Sermon Chapters</h1>
    <div class='chapters-card-wrapper'>

        <div class='chapter-card std-button'
             onclick="openChapter()">
            <img src="https://res.cloudinary.com/dq6prlmvh/image/upload/v1643996317/danielrangel.me/Email/logo_hbbtbu.png" />
            <h4 class='std-h3'>Intro & Sources</h4>
        </div>

        <div class='chapter-card std-button'
             onclick="openChapter()">
            <img src="https://res.cloudinary.com/dq6prlmvh/image/upload/v1643996317/danielrangel.me/Email/logo_hbbtbu.png" />
            <h4 class='std-h3'>1. Begginings</h4>
        </div>

        <div class='chapter-card std-button'
             onclick="openChapter()">
            <img src="https://res.cloudinary.com/dq6prlmvh/image/upload/v1643996317/danielrangel.me/Email/logo_hbbtbu.png" />
            <h4 class='std-h3'>2. Living Up To The Name</h4>
        </div>

        <div class='chapter-card std-button'
             onclick="openChapter()">
            <img src="https://res.cloudinary.com/dq6prlmvh/image/upload/v1643996317/danielrangel.me/Email/logo_hbbtbu.png" />
            <h4 class='std-h3'>3. Jacob Goes To School</h4>
        </div>

        <div class='chapter-card std-button'
             onclick="openChapter()">
            <img src="https://res.cloudinary.com/dq6prlmvh/image/upload/v1643996317/danielrangel.me/Email/logo_hbbtbu.png" />
            <h4 class='std-h3'>4. In The Far Country</h4>
        </div>

        <div class='chapter-card std-button'
             onclick="openChapter()">
            <img src="https://res.cloudinary.com/dq6prlmvh/image/upload/v1643996317/danielrangel.me/Email/logo_hbbtbu.png" />
            <h4 class='std-h3'>5. Back To The Father's House</h4>
        </div>

        <div class='chapter-card std-button'
             onclick="openChapter()">
            <img src="https://res.cloudinary.com/dq6prlmvh/image/upload/v1643996317/danielrangel.me/Email/logo_hbbtbu.png" />
            <h4 class='std-h3'>6. Living In The Middle</h4>
        </div>

        <div class='chapter-card std-button'
             onclick="openChapter()">
            <img src="https://res.cloudinary.com/dq6prlmvh/image/upload/v1643996317/danielrangel.me/Email/logo_hbbtbu.png" />
            <h4 class='std-h3'>7. When Dreams Die</h4>
        </div>

        <div class='chapter-card std-button'
             onclick="openChapter()">
            <img src="https://res.cloudinary.com/dq6prlmvh/image/upload/v1643996317/danielrangel.me/Email/logo_hbbtbu.png" />
            <h4 class='std-h3'>8. Living In The Bliss</h4>
        </div>

        <div class='chapter-card std-button'
             onclick="openChapter()">
            <img src="https://res.cloudinary.com/dq6prlmvh/image/upload/v1643996317/danielrangel.me/Email/logo_hbbtbu.png" />
            <h4 class='std-h3'>9. Finishing The Race</h4>
        </div>

    </div>
</div>