@{
    ViewData["Title"] = "Tools - Citation Machine";
}
<div class="main-wrapper">
    <section class="post-title-wrapper wrapper-favorite">
        <span class="post-type post-type_header--reading-speed std-icon"></span>
        <h1 class="std-h1 favorites-title">TEST YOUR READING SPEED</h1>
    </section>

    <section class="reader-wrapper">
        <div class="reader-header">
            <h3 class="std-h3 h3-reader-title">Select an animal to read about</h3>
            <div class="topics-wrapper">
                <span class="std-icon reader-topic-icon" onclick="choseTopic('wolf')" id="button-wolf">Wolf🐺</span>
                <span class="std-icon reader-topic-icon" onclick="choseTopic('eagle')" id="button-eagle">Eagle 🦅</span>
                <span class="std-icon reader-topic-icon" onclick="choseTopic('rhino')" id="button-rhino">Rhino 🦏</span>
                <span class="std-icon reader-topic-icon" onclick="choseTopic('bison')" id="button-bison">Bison 🦬</span>
                <span class="std-icon reader-topic-icon" onclick="choseTopic('mammoth')" id="button-mammoth">Mammoth 🦣</span>
                <span class="std-icon reader-topic-icon" onclick="choseTopic('mamba')" id="button-mamba">Mamba 🐍</span>
                <span class="std-icon reader-topic-icon" onclick="choseTopic('shark')" id="button-shark">Shark 🦈</span>
            </div>
        </div>
        <p class="reader-text-box"></p>
        <div class="container">
            <div class="box">
                <div class="clock"></div>
            </div>
        </div>
        <div class="botton-wrapper">
            <a asp-action="ReadingSpeed" asp-controller="Tools" class="reset-button"> <span class="read-reset std-icon"></span>RESET</a>
            <button class="reset-button" onclick="startReading()"> <span class="read-start std-icon"></span>START</button>
            <button class="reset-button" onclick="stopReading()"><span class="read-stop std-icon"></span>STOP</button>
        </div>
    </section>

    <div class="reading-result-wrapper">
        <h3 class="std-h3 h3-reader-title">Your results: </h3>
        <div class="reading-results-img"></div>
        <div class="std-p reading-time-result" id="reading-time-result">
            <p class="reading-time-result_important" id="reading-time-result_top-p"></p>
            <p class="std-p" id="reading-time-result_bottom-p"></p>
        </div>
    </div>
</div>

@section Scripts{ 
<script src="/js/reading-speed.js"></script>
}