
@{
    ViewData["Title"] = "Index";
    IEnumerable<FavoriteModel> favorites = ViewData["Favorites"] as IEnumerable<FavoriteModel>;
    IEnumerable<BlogModel> blogs = ViewData["Blogs"] as IEnumerable<BlogModel>;
}

<h1>Index</h1>

