@model string;

<div class="std-chapter-section std-chapter-section--hidden" id="chapter-eight_section-two">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image" />
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">8.2 The Later Is Sweeter Than The Former</h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 47:28 ',
        '28) And Jacob lived in the land of Egypt seventeen years. So the days of Jacob, the years of his life, were 147 years.')">
            Genesis 47:28
        </p>
        <p class="std-text-quiet">1878 – 1861 B. C. </p>
        <p class="std-p">
            It is stated by the writer of genesis that Jacob lived 17 years in Egypt. Exactly the same number of years he lived with 
            Jospeh before he was sold by his brothers. God allowed Jacob to re-live his last 17 years of life with Joseph and all his 
            children together, without grudges nor turmoil. Yes, he did lose Joseph due to the division that he had created among his 
            own children, but God has proven His grace and Mercy by allowing old Jacob to make up for each one of those years He did not
            know how to parent his children. 
            <br />
            <br />
            It is not always certain that God will bring back to your hands what He has taken. What it 
            is true is that He will always make the later days sweeter than the earlier ones. In Him life only gets sweeter and sweeter.
        </p>
    </div>
</div>
