@model string;

<div class="std-chapter-section" id="chapter-eight_section-one">
    <div class="img-wrapper chapter-section-img">
        <img src="@Model" alt="Beggining life of Jacob" class="chapter-section-image"/>
    </div>
    <div class="chapter-section_wrapper">
        <h3 class="std-h3">8.1 The End Matters More Than The Start </h3>
        <p class="underlined-text std-p"
           onclick="displayBibleVerse('Genesis 47:7-10 ',
    '7 Then Joseph brought in Jacob his father and stood him before Pharaoh, and Jacob blessed Pharaoh. ' +
    '8) And Pharaoh said to Jacob, “How many are the days of the years of your life?” ' +
    '9 And Jacob said to Pharaoh, “The days of the years of my sojourning are 130 years. Few and evil have been the days of the years of my life, and they have not attained to the days of the years of the life of my fathers in the days of their sojourning.” ' +
    '10) And Jacob blessed Pharaoh and went out from the presence of Pharaoh.')">
            Genesis 47:7-10
        </p>
        <p class="std-text-quiet">1878 B. C. </p>
        <p class="std-p">
            How sweet and peaceful were the last years of our spiritual patriarch. He is standing before the mightiest men in the land in
            total humility. Shaped by the mistakes and pain of his earlier years, he now places himself before his ancestors and says
            "I am not as great as they were." He is saying, I once thought I could hold the world in my hands, but today, I simply stand
            before God acknowledging that I am the least of them all. This very same attitude we would see passed down to one of his
            descendants, a man called Paul the apostle
            <span class="underlined-text"
                  onclick="displayBibleVerse('1 Corinthians 15:9',
            '9) For I am the least of the apostles, unworthy to be called an apostle, because I persecuted the church of God.')">1 Corinthians 15:9.</span>

            <br />
            <br />
            According to A. E. Einstman the man with the longest life span to up to that day was the pharaoh Ramses who died in 1213 B. C. 
            Therefore the longevity of Jacob had to appear as extraordinary to everyone in Egypt.
            <br />
            <br />
            What should attract most of our attention from this passage, however, it is the words of verse 10: "Jacob blessed Pharaoh." 
            Jacob, as every mature and grateful Christian, finds himself bearing witness for God everywhere he goes. It is hard to shut 
            the voice of a grateful Soul. Show me someone who cannot stop talking about God and mentioning the beautiful name of Jesus 
            Christ and I will show you someone who has been snatched from the deepest places of hell. Do not get too surprised if some 
            Christians are not very demonstrative in their worship. If they clock in and out without ever touching a single soul with the 
            gospel at the work place. If they worship is dull and seldom during church service.
            <br />
            <br />
            <ul class="std-ul">
                <li>Perhaps they haven't been in a hospital bed yet.</li>
                <li>Perhaps they haven't received a cancer-free report yet.</li>
                <li>Perhaps they haven't had to put a loved one in a casquet yet.</li>
                <li>Perhaps they haven't had their marriage shutter to pieces and put back yet.</li>
                <li>Perhaps they have never laydown in bed at night flooding their pillows in tears yet.</li>
                <li>Perhaps they haven’t been betrayed, cheated on, mistreated, abused, and forgotten yet.</li>
            </ul>
        </p>
        <p class="std-p">
            It is only a sign that they don’t think to have much to be thankful about yet, because they have not seen how helpless 
            they are without God yet.
        </p>
    </div>
</div>
